# **Reto II**

### 1. Dataset

Los datos de origen son proporcionados en un archivos csv:

* udfs: dataset con datos de operaciones financieras.

### 2. Columnas y significado:

* nb: número de referencia de la operación.
* contract: identificador de contrato.
* udf_ref: identificador de operación de trading.
* fmly: familia a la que pertenece la operación financiera.
* grp: grupo al que pertenece la operación financiera.
* type: tipo de operación financiera.
* country: país de origen de la operación.
* udf_name: campo informado en el registro.
* num_value: valor numérico.
* string_value: valor de cadena de caracteres.
* date_value: valor de fecha.
* data_timestamp_part: marca temporal.
* data_date_part: fecha en la que se almacena la información.
* source_system: fuente de los datos.

### 3. Descripción del problema:

Si hacemos una visión general a nuestro conjunto de datos, podemos observar como hay hasta 10 registros (filas) para cada valor de *nb*, donde cada registro solo da información para un valor de *udf_name*. Esto es un gasto innecesario de almacenamiento y computación, además de complicar los futuros cálculos derivados de estos datos. Por esta razón, necesitamos convertir estos registros con el mismo *nb* a un solo registro.

Nuestro dataframe final tendrá que contener las siguientes columnas: `nb, M_CCY, M_CLIENT, M_CRDTCHRG, M_DIRECTIAV, M_DISCMARGIN, M_LIQDTYCHRG, M_MVA, M_RVA, M_SELLER, M_SUCURSAL`

* nb: debe contener el número de referencia de la operación.
* M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL: deben mapear el valor de *string_value*
* M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_MVA, M_RVA: deben mapear el valor de *num_value*


Una vez tengamos este resultado, necesitaremos eliminar las operaciones que no tengan informados ninguno de los siguientes campos:

M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_MVA, M_RVA, M_SELLER

No informados en este caso significa que o son valores nulos, vacíos o 0, en el caso de los campos numéricos.

### 4. Reto:

* Obtener un dataframe final que contenga las columnas indicadas, con un registro por *nb* y con los valores correctos mapeados.
* Las operaciones con los campos M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, , M_MVA, M_RVA, M_SELLER no informados no deben existir.
* Hacerlo de la manera más eficiente posible a nivel computacional.

**NOTA:** Cada uno de los pasos descritos en el problema pueden efectuarse en una sola línea.

### Inicialización de SparkSession:

In [1]:
import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._
import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.types._
import spark.implicits._

Intitializing Scala interpreter ...

Spark Web UI available at http://L2108019.bosonit.local:4040
SparkContext available as 'sc' (version = 3.1.2, master = local[*], app id = local-1635928456644)
SparkSession available as 'spark'

import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._
import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.types._
import spark.implicits._

In [2]:
val spark = SparkSession.builder()
                        .appName("Reto 2")
                        .master("local")
                        .getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2bdd2ce2

In [30]:
val udfs = spark.read.format("csv")
                     .option("header", "true")
                     .option("delimiter", ";")
                     .option("treatEmptyValuesAsNulls","true")
                     .option("nullValue", null)
                     .load("Desktop/Big Data/Retos Big Data/Spark for Data Engineers 2/reto2/udfs.csv")

+-----+--------+-------+----+-----+-----+-------+--------+---------+------------+----------+-------------------+--------------+-------------+
|   nb|contract|udf_ref|fmly|  grp| type|country|udf_name|num_value|string_value|date_value|data_timestamp_part|data_date_part|source_system|
+-----+--------+-------+----+-----+-----+-------+--------+---------+------------+----------+-------------------+--------------+-------------+
|44...|    3333|  28...| IRD|LN_BR| null|    ESP|   M_CCY|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|    30...|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|     NULL|       LB...|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|    50...|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_MVA|       20|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|     NULL|        1999|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_RVA|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|     NULL|        CCMO|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_...|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|22...|   22...|  22...| IRD|  IRS| null|    ESP|   M_CCY|     NULL|         USD|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_RVA|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_MVA|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|38...|   36...|  49...| SCF|  SCF|  SCF|    ESP|   M_CCY|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|82...|   41...|  32...|CURR|  FXD|  FXD|    ESP|   M_CCY|     NULL|         EUR|      NULL|              20...|         20...|        Mx3EU|
|82...|   41...|  32...|CURR|  FXD|  FXD|    ESP|   M_...|    0....|        null|      null|              20...|         20...|        Mx3EU|
|82...|   41...|  32...|CURR|  FXD|  FXD|    ESP|   M_...|     NULL|        AMAM|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|      200|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|     NULL|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_RVA|        5|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_MVA|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|     NULL|        5493|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_...|     NULL|       PR...|      NULL|              20...|         20...|        Mx3EU|
|14...|   13...|  21...| IRD|LN_BR| null|    ESP|   M_CCY|     NULL|        null|      NULL|              20...|         20...|        Mx3EU|
|16...|   15...|  25...|CURR|  FXD|  FXD|    ESP|   M_CCY|     NULL|         USD|      NULL|              20...|         20...|        Mx3EU|
|16...|   15...|  25...|CURR|  FXD|  FXD|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|16...|   15...|  25...|CURR|  FXD|  FXD|    ESP|   M_...|     NULL|        AMAM|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|     NULL|       LB...|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_MVA|       20|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|     NULL|        1999|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_RVA|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|     NULL|        CCMO|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_...|       10|        NULL|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  27...| IRD|  IRS| null|    ESP|   M_CCY|     NULL|         GBP|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  28...|CURR|  FXD|SWLEG|    ESP|   M_CCY|     NULL|         MXN|      NULL|              20...|         20...|        Mx3EU|
|18...|   17...|  28...|CURR|  FXD|SWLEG|    ESP|   M_...|    0....|        NULL|      NULL|              20...|         20...|        Mx3EU|
+-----+--------+-------+----+-----+-----+-------+--------+---------+------------+----------+-------------------+--------------+-------------+
only showing top 50 rows

62

udfs: org.apache.spark.sql.DataFrame = [nb: string, contract: string ... 12 more fields]

In [84]:
var aux1 = List("M_CLIENT", "M_SELLER", "M_CCY", "M_SUCURSAL")
var aux2 = List("M_DISCMARGIN", "M_DIRECTIAV", "M_LIQDTYCHRG", "M_CRDTCHRG", "M_SELLER", "M_MVA", "M_RVA")
var aux3 = aux1.++(aux2)

aux1: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL)
aux2: List[String] = List(M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_SELLER, M_MVA, M_RVA)
aux3: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL, M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_SELLER, M_MVA, M_RVA)

In [80]:
var data = udfs.where(col("udf_name").isin(aux3: _*)) // udfs.count() -> 386, data.count() -> 385
data = data.select("nb", "udf_name", "num_value", "string_value")
data.show(50)

var pivot = data.withColumn("num_value", col("num_value").cast(IntegerType)).groupBy("nb")
                .pivot("udf_name")
                .agg(first("num_value"), first("string_value"))

pivot = pivot.drop("udf_name", "M_CLIENT_first(num_value)", "M_CCY_first(num_value)", "M_SUCURSAL_first(num_value)", 
                   "M_DISCMARGIN_first(string_value)", "M_DIRECTIAV_first(string_value)", "M_LIQDTYCHRG_first(string_value)", 
                   "M_MVA_first(string_value)", "M_RVA_first(string_value)", "M_SELLER_first(num_value)", "M_CRDTCHRG_first(string_value)")

pivot = pivot.withColumnRenamed("M_CCY_first(string_value)", "M_CCY")
             .withColumnRenamed("M_CLIENT_first(string_value)", "M_CLIENT")
             .withColumnRenamed("M_CRDTCHRG_first(num_value)", "M_CRDTCHRG")
             .withColumnRenamed("M_DIRECTIAV_first(num_value)", "M_DIRECTIAV")
             .withColumnRenamed("M_DISCMARGIN_first(num_value)", "M_DISCMARGIN")
             .withColumnRenamed("M_LIQDTYCHRG_first(num_value)", "M_LIQDTYCHRG")
             .withColumnRenamed("M_MVA_first(num_value)", "M_MVA")
             .withColumnRenamed("M_RVA_first(num_value)", "M_RVA")
             .withColumnRenamed("M_SELLER_first(string_value)", "M_SELLER")
             .withColumnRenamed("M_SUCURSAL_first(string_value)", "M_SUCURSAL")

val resultado = pivot.where((col("M_SELLER").isNotNull || upper(col("M_SELLER")) =!= "NULL") || 
                            (col("M_DISCMARGIN").isNotNull || col("M_DISCMARGIN") =!= 0 || upper(col("M_DISCMARGIN")) =!= "NULL") || 
                            (col("M_DIRECTIAV").isNotNull || col("M_DIRECTIAV") =!= 0 || upper(col("M_DIRECTIAV")) =!= "NULL") ||
                            (col("M_LIQDTYCHRG").isNotNull || col("M_LIQDTYCHRG") =!= 0 || upper(col("M_LIQDTYCHRG")) =!= "NULL") ||
                            (col("M_CRDTCHRG").isNotNull || col("M_CRDTCHRG") =!= 0 || upper(col("M_CRDTCHRG")) =!= "NULL") ||
                            (col("M_MVA").isNotNull || col("M_MVA") =!= 0 || upper(col("M_MVA")) =!= "NULL") ||
                            (col("M_RVA").isNotNull || col("M_RVA") =!= 0 || upper(col("M_RVA")) =!= "NULL"))
println(resultado.count)
resultado.orderBy(asc("nb")).show(61,8)
//The row with nb === 3815982 shouldn't appear because he has 0's or null, but i don't know why it's not filtered 
//print(resultado.select("M_DIRECTIAV").filter($"nb" === 3815982).first.getString(0))

+--------+------------+---------------+------------+
|      nb|    udf_name|      num_value|string_value|
+--------+------------+---------------+------------+
|  444444|       M_CCY|           NULL|        null|
| 2222222|  M_CRDTCHRG|30.000000000000|        NULL|
| 2222222|    M_SELLER|           NULL|  LB_TLECLER|
| 2222222|M_LIQDTYCHRG|50.000000000000|        NULL|
| 2222222|       M_MVA|             20|        NULL|
| 2222222|  M_SUCURSAL|           NULL|        1999|
| 2222222|       M_RVA| 0.000000000000|        NULL|
| 2222222| M_DIRECTIAV| 0.000000000000|        NULL|
| 2222222|    M_CLIENT|           NULL|        CCMO|
| 2222222|M_DISCMARGIN|             10|        NULL|
| 2222222|       M_CCY|           NULL|         USD|
| 3815982|M_DISCMARGIN| 0.000000000000|        NULL|
| 3815982|  M_SUCURSAL|           NULL|        null|
| 3815982|       M_RVA| 0.000000000000|        NULL|
| 3815982|M_LIQDTYCHRG| 0.000000000000|        NULL|
| 3815982|  M_CRDTCHRG| 0.000000000000|        NULL|
| 3815982|       M_MVA| 0.000000000000|        NULL|
| 3815982|    M_SELLER|           NULL|        null|
| 3815982|    M_CLIENT|           NULL|        null|
| 3815982| M_DIRECTIAV| 0.000000000000|        NULL|
| 3815982|       M_CCY|           NULL|        null|
| 8216817|       M_CCY|           NULL|         EUR|
| 8216817| M_DIRECTIAV| 0.000000000000|        null|
| 8216817|    M_SELLER|           NULL|        AMAM|
|14773283|M_DISCMARGIN|            200|        NULL|
|14773283|    M_CLIENT|           NULL|        NULL|
|14773283|       M_RVA|              5|        NULL|
|14773283|M_LIQDTYCHRG|             10|        NULL|
|14773283|  M_CRDTCHRG|             10|        NULL|
|14773283|       M_MVA|             10|        NULL|
|14773283|  M_SUCURSAL|           NULL|        5493|
|14773283|    M_SELLER|           NULL|        null|
|14773283| M_DIRECTIAV|             10|        NULL|
|14773283|       M_CCY|           NULL|        null|
|16719306|       M_CCY|           NULL|         USD|
|16719306| M_DIRECTIAV| 0.000000000000|        NULL|
|16719306|    M_SELLER|           NULL|        AMAM|
|18343978|  M_CRDTCHRG| 0.000000000000|        NULL|
|18343978|    M_SELLER|           NULL|  LB_TLECLER|
|18343978|M_LIQDTYCHRG| 0.000000000000|        NULL|
|18343978|       M_MVA|             20|        NULL|
|18343978|  M_SUCURSAL|           NULL|        1999|
|18343978|       M_RVA| 0.000000000000|        NULL|
|18343978| M_DIRECTIAV| 0.000000000000|        NULL|
|18343978|    M_CLIENT|           NULL|        CCMO|
|18343978|M_DISCMARGIN|             10|        NULL|
|18343978|       M_CCY|           NULL|         GBP|
|18710605|       M_CCY|           NULL|         MXN|
|18710605| M_DIRECTIAV| 0.000000000000|        NULL|
|18710605|    M_SELLER|           NULL|        AMAM|
+--------+------------+---------------+------------+
only showing top 50 rows

61
+--------+-----+--------+----------+-----------+------------+------------+-----+-----+--------+----------+
|      nb|M_CCY|M_CLIENT|M_CRDTCHRG|M_DIRECTIAV|M_DISCMARGIN|M_LIQDTYCHRG|M_MVA|M_RVA|M_SELLER|M_SUCURSAL|
+--------+-----+--------+----------+-----------+------------+------------+-----+-----+--------+----------+
|10000001| null|    NULL|        20|          0|          10|          30|    0|    0| SELLER1|      1999|
|10000009| null|    NULL|        20|          0|          10|          30|    0|    0| SELLER9|      1999|
|11122...| null|    MMMM|         0|       9056|           0|           0|   20| 8956|  VVVVVV|      1212|
|14773283| null|    NULL|        10|         10|         200|          10|   10|    5|    null|      5493|
|16719306|  USD|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|18343978|  GBP|    CCMO|         0|          0|          10|           0|   20|    0|LB_TL...|      1999|
|18710605|  MXN|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|18710606|  MXN|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|18937012|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|18937013|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|19335398|  USD|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|19665185| null|    NULL|        20|       1200|           0|          20|    0|    0|LB_VS...|      5493|
|19665186| null|    NULL|        20|       1200|         100|          20|    0|    0|LB_VS...|      5493|
|19772399| null|    null|         0|          0|          47|           0|    0|    0|LB_TL...|      1999|
|19772400| null|    null|        10|          0|          47|          30|    0|    0|LB_TL...|      1999|
|20090399| null|    null|         5|         20|         100|          10|   10|   10|    null|      null|
|20513130| null|    CCMO|         0|          0|          10|           0|   20|    0|    WATT|      5493|
|20533916| null|    CCMO|         0|          0|          50|           0|   30|    0|    WATT|      1999|
|20665177| null|    NULL|        20|       1200|           0|          20|    0|    0|LB_VS...|      5493|
|20665178| null|    NULL|        20|       1200|         100|          20|    0|    0|LB_VS...|      5493|
|20942931| null|    null|         0|        100|           0|           0|    0|    0|SELLE...|      1999|
|20942932| null|    null|       100|          0|           0|           0|    0|    0|SELLE...|      1999|
|20980932|  USD|    null|        20|          0|           0|          20|    0|    0|CE_NG...|      1999|
|20980933| null|    null|        20|          0|           0|          20|    0|    0|CE_NG...|      1999|
|21183317| null|    null|       100|          0|           0|           0|    0|    0|SELLE...|      null|
|21321178|  USD|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|21529916| null|    null|         0|          0|           0|           0|    0|    0| SOV_GSM|      1999|
|21529917| null|    null|         0|          0|           0|           0|    0|    0| SOV_GSM|      1999|
|21772250|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22151902|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
| 2222222|  USD|    CCMO|        30|          0|          10|          50|   20|    0|LB_TL...|      1999|
|22233...| null|    MMMM|         0|       9056|           0|           0|   20| 8956|  VVVVVV|      1212|
|22535815|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22535816|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22759961|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22759962|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22784054|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22798004|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22798005|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22853656|  BRL|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22980629|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|22980630|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|23037161|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|23037162|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|23097010|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|23126647|  USD|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|23126648|  USD|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|31639...|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|32734782|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|33311...| null|    MMMM|         0|       9056|           0|           0|   20| 8956|  VVVVVV|      1212|
|33333333| null|    null|         0|          0|           0|           0|    0|    0| SSSSSSS|      null|
| 3815982| null|    null|         0|          0|           0|           0|    0|    0|    null|      null|
|44411...| null|    MMMM|         0|       9056|           0|           0|   20| 8956|  VVVVVV|      1212|
|46835781|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|55511...|  USD|    null|        30|          0|          10|          50|   20|    0|LB_TL...|      1999|
|55611...|  USD|    null|        30|          0|          10|          50|   20|    0|LB_TL...|      1999|
|56436...| null|    MMMM|       234|       9056|          10|         657|   20| 8956|  VVVVVV|      1212|
|67324...|  EUR|    null|      null|         45|        null|        null| null| null|    AMAM|      null|
|67843276|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
|79831432|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
| 8216817|  EUR|    null|      null|          0|        null|        null| null| null|    AMAM|      null|
+--------+-----+--------+----------+-----------+------------+------------+-----+-----+--------+----------+

aux1: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL)
aux2: List[String] = List(M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_SELLER, M_MVA, M_RVA)
aux3: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL, M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_SELLER, M_MVA, M_RVA)
data: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [nb: string, udf_name: string ... 2 more fields]
data: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [nb: string, udf_name: string ... 2 more fields]
pivot: org.apache.spark.sql.DataFrame = [nb: string, M_CCY: string ... 9 more fields]
pivot: org.apache.spark.sql.DataFrame = [nb: string, M_CCY: string ... 9 more fields]
pivot: org.apache.spark.sql.DataFrame = [nb: string, M_CCY: string ... 9 more fields...

In [82]:
//Quicker way to do it

var pivot = udfs.where(col("udf_name").isin(aux3: _*))
                .groupBy("nb")
                .pivot("udf_name")
                .agg(first(when($"udf_name".isin(aux2: _*), $"num_value").otherwise($"string_value")))

val resultado = pivot.where((col("M_DISCMARGIN").isNotNull || col("M_DISCMARGIN") =!= "0.000000000000" || upper(col("M_DISCMARGIN")) =!= "NULL") || 
                            (col("M_DIRECTIAV").isNotNull || col("M_DIRECTIAV") =!= "0.000000000000" || upper(col("M_DIRECTIAV")) =!= "NULL") ||
                            (col("M_LIQDTYCHRG").isNotNull || col("M_LIQDTYCHRG") =!= "0.000000000000" || upper(col("M_LIQDTYCHRG")) =!= "NULL") ||
                            (col("M_CRDTCHRG").isNotNull || col("M_CRDTCHRG") =!= "0.000000000000" || upper(col("M_CRDTCHRG")) =!= "NULL") ||
                            (col("M_MVA").isNotNull || col("M_MVA") =!= "0.000000000000" || upper(col("M_MVA")) =!= "NULL") ||
                            (col("M_RVA").isNotNull || col("M_RVA") =!= "0.000000000000" || upper(col("M_RVA")) =!= "NULL") ||
                            (col("M_SELLER").isNotNull || upper(col("M_SELLER")) =!= "NULL"))

println(resultado.count)
resultado.orderBy(asc("nb")).show(61,8)

//The row with nb === 3815982 shouldn't appear because he has 0's or null, but i don't know why it's not filtered 
//print(resultado.select("M_DIRECTIAV").filter($"nb" === 3815982).first.getString(0))

61
+--------+-----+--------+----------+-----------+------------+------------+--------+--------+--------+----------+
|      nb|M_CCY|M_CLIENT|M_CRDTCHRG|M_DIRECTIAV|M_DISCMARGIN|M_LIQDTYCHRG|   M_MVA|   M_RVA|M_SELLER|M_SUCURSAL|
+--------+-----+--------+----------+-----------+------------+------------+--------+--------+--------+----------+
|10000001| null|    NULL|        20|   0.000...|          10|          30|0.000...|0.000...| SELLER1|      1999|
|10000009| null|    NULL|        20|   0.000...|          10|          30|0.000...|0.000...| SELLER9|      1999|
|11122...| null|    MMMM|  0.000...|       9056|    0.000...|    0.000...|      20|    8956|  VVVVVV|      1212|
|14773283| null|    NULL|        10|         10|         200|          10|      10|       5|    null|      5493|
|16719306|  USD|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|18343978|  GBP|    CCMO|  0.000...|   0.000...|          10|    0.000...|      20|0.000...|LB_TL...|      1999|
|18710605|  MXN|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|18710606|  MXN|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|18937012|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|18937013|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|19335398|  USD|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|19665185| null|    NULL|  20.00...|   1200....|    0.000...|    20.00...|0.000...|0.000...|LB_VS...|      5493|
|19665186| null|    NULL|  20.00...|   1200....|         100|    20.00...|0.000...|0.000...|LB_VS...|      5493|
|19772399| null|    null|  0.000...|   0.000...|    47.26...|    0.000...|0.000...|0.000...|LB_TL...|      1999|
|19772400| null|    null|        10|   0.000...|    47.26...|          30|0.000...|0.000...|LB_TL...|      1999|
|20090399| null|    null|         5|         20|         100|          10|      10|      10|    null|      null|
|20513130| null|    CCMO|  0.000...|   0.000...|          10|    0.000...|      20|0.000...|    WATT|      5493|
|20533916| null|    CCMO|  0.000...|   0.000...|          50|    0.000...|      30|0.000...|    WATT|      1999|
|20665177| null|    NULL|  20.00...|   1200....|    0.000...|    20.00...|0.000...|0.000...|LB_VS...|      5493|
|20665178| null|    NULL|  20.00...|   1200....|         100|    20.00...|0.000...|0.000...|LB_VS...|      5493|
|20942931| null|    null|  0.000...|   100.0...|    0.000...|    0.000...|0.000...|0.000...|SELLE...|      1999|
|20942932| null|    null|  100.0...|   0.000...|    0.000...|    0.000...|0.000...|0.000...|SELLE...|      1999|
|20980932|  USD|    null|  20.00...|   0.000...|    0.112...|    20.00...|0.000...|0.000...|CE_NG...|      1999|
|20980933| null|    null|  20.00...|   0.000...|    0.112...|    20.00...|0.000...|0.000...|CE_NG...|      1999|
|21183317| null|    null|  100.0...|   0.000...|    0.000...|    0.000...|0.000...|0.000...|SELLE...|      null|
|21321178|  USD|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|21529916| null|    null|  0.000...|   0.000...|    0.000...|    0.000...|0.000...|0.000...| SOV_GSM|      1999|
|21529917| null|    null|  0.000...|   0.000...|    0.000...|    0.000...|0.000...|0.000...| SOV_GSM|      1999|
|21772250|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22151902|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
| 2222222|  USD|    CCMO|  30.00...|   0.000...|          10|    50.00...|      20|0.000...|LB_TL...|      1999|
|22233...| null|    MMMM|  0.000...|       9056|    0.000...|    0.000...|      20|    8956|  VVVVVV|      1212|
|22535815|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22535816|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22759961|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22759962|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22784054|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22798004|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22798005|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22853656|  BRL|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22980629|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|22980630|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|23037161|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|23037162|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|23097010|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|23126647|  USD|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|23126648|  USD|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|31639...|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|32734782|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|33311...| null|    MMMM|  0.000...|       9056|    0.000...|    0.000...|      20|    8956|  VVVVVV|      1212|
|33333333| null|    null|  0.000...|   0.000...|    0.000...|    0.000...|0.000...|0.000...| SSSSSSS|      null|
| 3815982| null|    null|  0.000...|   0.000...|    0.000...|    0.000...|0.000...|0.000...|    null|      null|
|44411...| null|    MMMM|  0.000...|       9056|    0.000...|    0.000...|      20|    8956|  VVVVVV|      1212|
|46835781|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|55511...|  USD|    null|  30.00...|   0.000...|          10|    50.00...|      20|0.000...|LB_TL...|      1999|
|55611...|  USD|    null|  30.00...|   0.000...|          10|    50.00...|      20|0.000...|LB_TL...|      1999|
|56436...| null|    MMMM|       234|       9056|          10|         657|      20|    8956|  VVVVVV|      1212|
|67324...|  EUR|    null|      null|         45|        null|        null|    null|    null|    AMAM|      null|
|67843276|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
|79831432|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
| 8216817|  EUR|    null|      null|   0.000...|        null|        null|    null|    null|    AMAM|      null|
+--------+-----+--------+----------+-----------+------------+------------+--------+--------+--------+----------+

0.000000000000

aux1: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL)
aux2: List[String] = List(M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_MVA, M_RVA)
aux3: List[String] = List(M_CLIENT, M_SELLER, M_CCY, M_SUCURSAL, M_DISCMARGIN, M_DIRECTIAV, M_LIQDTYCHRG, M_CRDTCHRG, M_MVA, M_RVA)
pivot: org.apache.spark.sql.DataFrame = [nb: string, M_CCY: string ... 9 more fields]
resultado: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [nb: string, M_CCY: string ... 9 more fields]

### Resultado:

**INSTRUCCIONES**: El DataFrame resultante debe almacenarse en la variable `resultado`, sustituyendo el valor `None` por el código que consideréis oportuno. De esta forma podréis comprobar si el resultado es correcto.

In [97]:
//val resultado = None

resultado: org.apache.spark.sql.DataFrame = [nb: string, M_CCY: string ... 9 more fields]

In [83]:
assert(resultado.count() == 60)
assert(resultado.columns.size == 11)
assert(resultado.columns(4) == "M_DIRECTIAV")
assert(resultado.select("M_SELLER").filter($"nb" === 23037162).first.getString(0) == "AMAM")
assert(resultado.select("M_SELLER").filter($"nb" === 19665186).first.getString(0) == "LB_VSTAVRE")
assert(resultado.select("M_RVA").filter($"nb" === 444111222).first.getString(0) == "8956")